[Desktop Entry]
Version=1.0
Type=Application
Exec=AppImageLauncherSettings %f
Name=AppImageLauncher Settings
Name[de]=AppImageLauncher-Einstellungen
Name[zh_CN]=Appimage启动器设置
Comment=Change settings for AppImageLauncher
Comment[de]=Einstellungen für AppImageLauncher ändern
Comment[zh_CN]=修改Appimage启动器的相关设置
Icon=AppImageLauncher
Terminal=false
Categories=Utility;Settings;DesktopSettings;LXQt;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;X-GNOME-PersonalSettings;
X-AppImage-Integrate=false
StartupWMClass=AppImageLauncher
